.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: black; 
    color: white;
}

.navbar-active {
    background-color: rgb(59, 28, 197);
    color: white;
}   

.nav-line {
    background: linear-gradient(to right, rgb(218, 65, 5) 0%, rgb(28, 40, 197) 100%);
    height: 16px;
}

.link-text:hover {
    text-decoration: none !important;
    color: rgb(84, 29, 236); 
}