/* Top container */

.top-container-wrapper {
    background-color: black;
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container-title-wrapper {
    text-align: center;
}

.top-container-title {
    color: rgb(255, 255, 255);
    min-width: 250px;
    max-width: 650px;
    font-size: 1.9rem;
    font-weight: 800;  
}

.highlight-text {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgb(218, 65, 5),
    #ff1361 67%,
    rgb(28, 40, 197) 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


@media only screen and (min-width: 1024px) {
    .top-container-title {
        font-size: 3rem;
    }
}

/* Middle container */

.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    text-align: center;
    margin: 0 auto;
}

.mc-first-wrapper {
    background-color: white;
    text-align: justify;
    margin: 0px 15px;
    padding: 25px 0;
}

.mc-first-title {
    text-align: center;
    margin-top: 2%;
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
}

.mc-first-desc {
    min-width: 260px;
    max-width: 550px;
    margin: 10px auto;
    font-size: 1.5rem;
}

.mc-second-wrapper {
    padding: 40px 0;
    background: black;
    text-align: center;
}

.mc-second-title {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.mc-contact-wrapper {
    background-image: radial-gradient(circle, rgb(218, 65, 5) 0%, rgb(28, 40, 197) 100%);
    text-align: center;
    padding: 5%;
}

.resume-wrapper {
    height: 100vh;
}

@media only screen and (min-width: 300px) {
    .mc-contact-wrapper {
        padding: 40px;
    }
}

/* Projects */

.projects-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0px auto;
}

.project-card {
    background-color: white;
    text-align: justify;
    padding: 15px 30px 15px 30px;
    min-width: 240px;
    max-width: 320px;
    margin: 20px auto;
    border-radius: 8px;
}

.image-container {
    display: flex;
}

.image-container img {
    margin: 0 5px;
}

.project-card h2 {
    font-size: 2rem;
    font-weight: 700;
}

.project-card p {
    margin: 20px 0;
    font-size: large;
    word-break: break-word;
}

.project-card button {
    margin-top: 20px;
    padding: 10px 30px;
    color: white;
    background: linear-gradient(to left, black 50%, rgb(40, 13, 194) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-weight: 700;
    font-size: large;
    border-radius: 5px;
}

.project-card button:hover {
    background-position: left;
}

@media only screen and (min-width: 768px) {
    .project-card {
        padding-left: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .project-card {
        padding-left: 35px;
        min-width: 350px;
    }
    .projects-wrapper {
        flex-direction: row;
    }
}

/* Books */

.books-container {
    padding: 25px 20px;
    min-height: 450px;
    background: radial-gradient(circle, rgb(218, 65, 5) 0%, rgb(28, 40, 197) 100%);;
}

.bc-title {
    color: white;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
}

.book-card {
    text-align: justify;
    display: flex;
    align-items: center;
    background: white;
    margin: 15px auto;
    min-width: 240px;
    max-width: 450px;
    height: 180px;
    color: #313149;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(128, 127, 127);
}

.book-description {
    margin-left: 15px;
}

.book-title {
    font-weight: 700;
}

.book-author {
    color: rgb(167, 163, 162);
}

@media only screen and (max-width: 281px) {
    .bc-title {
        font-size: 1.5rem;
    }
    .book-card {
        height: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .bc-title {
        font-size: 3rem;
    }
}